body {
    background: black;
    margin: 0;
    font-family: monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Tum sayfa */
.container {
    margin: 3em;
}

/* Header */
.up-bar {
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;

    h1 {
        margin-bottom: 5px;
    }
    
    /* Isim alti info */
    h2 {
        font-weight: normal;
        font-size: smaller;
        margin-top: 0;
    }
    
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    
    li {
        margin: 0em;
    }

    .scaled-logo {
        max-width: 6%;
        max-height: 4%;
        margin-right: 1em;
        align-self: flex-end;
    }
}



/* Sidebar left */
.left-bar {
    color: white;
    font-weight: bold;
    position: fixed;
    font-size: 1.5em;

   
    margin-left: 0; /* Closer to the left */
    padding-left: 0; /* Remove extra padding */


    nav ul {
        list-style: none;
        padding: 0;
        margin-top: 2em;
        margin-left: 0;
    
        li {
            margin-bottom: 10px; /* Reduced spacing between items */
        }
    }
    
    a {
        color: rgb(69, 11, 123);
        text-decoration: none;
        font-weight: bold;
        
    }

    a:hover {
        color: purple;
    }

    a:focus{
        color: turquoise;

    }
    
    
}




/* body on all pages */
.content{
    font-size: 1.1em;
}


.content-aboutpage{

    font-size: 1.2em;
    p{
        margin-bottom: 2em; /* Adds two lines of spacing between paragraphs */

        
       
    }

    p span.heart {
        color: pink;
        font-size: 1.5em; /* Adjust the size of the hearts if necessary */
    }

    .aboutpage-body{
        margin-left: 10em;

      
    }
}


.body-info {
    display: flex;
    color: white;
    font-size: 1em;
    font-weight: lighter;
    list-style: none;
    flex-direction: row;

    li {
        margin: 1em;
    }
    
    .scaled-image-border-large {
        max-width: 85%; /* Increased image size */
        height: auto;
        margin-left: 8em;
        margin-bottom: 5em;
    }



    .scaled-image-header{

        max-width: 95%; /* Increased image size */
        height: min-content;
        margin-bottom: 2em; 
        
        
    }

    a {
        color:blueviolet;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}




/* projects.css */
.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    p {
        font-size: 1.2em;
        color: white;
        font-family: monospace;
        margin-bottom: 1em;
    }

    li {
        width: 100%;
        max-width: 900px;
        margin-bottom: 40px;
    }

  

    .scaled-video {
        width: 100%;
        max-width: 800px;
        margin-top: 10px;
    }

    .scaled-video-half-size {
        width: 40%; 
        height: 40%;
        display: inline-block;
        margin-right: 10px; 
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .scaled-video-quarter-size {
        width: 30%; 
        height: 30%;
        display: inline-block;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .scaled-gif {
        max-width: 95%; /* Increased image size */
        height: auto;
    }
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(69, 11, 123);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: turquoise;
}


.scrollbar-particles {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    width: 10px; /* Particle size */
    height: 10px;
    background-color: blueviolet;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 0% 10%, 40% 100%, 60% 100%, 100% 40%); /* Heart shape */
    animation: particle-animation 2.5s forwards, color-shift 2.5s forwards;
    opacity: 0.5;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.7); /* Glowing effect */
}

@keyframes particle-animation {
    0% {
        transform: scale(0) translate(var(--x), var(--y));
        opacity: 1;
    }
    50% {
        transform: scale(0.65) translate(var(--x), var(--y));
        opacity: 0.51;
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}

@keyframes color-shift {
    0% {
        background-color: blueviolet;
    }
    100% {
        background-color: turquoise;
    }
}
